.venv/
__pycache__/
*.pdf
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz
*.fls
*.fdb_latexmk
.DS_Store
*/.DS_Store

# Cache and Binary outputs
*.npy
*.dylib
*.so
benchmark/*.txt

# Keep export directory structure but ignore generated outputs
exports/*
!exports/.gitkeep
